name: build-test
run-name: Build and Test by @${{github.actor}}

on:
  pull_request:
    types:
      - synchronize
      - ready_for_review
      - reopened
      - opened
env:
  HEAD_REF: ${{ github.head_ref }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

      - uses: actions/checkout@v4
        name: Checkout

      - uses: actions/setup-go@v5.5.0
        with:
          go-version: ${{ vars.GO_VERSION }}

      - name: build
        shell: bash
        run: |
          go build -o obsidian_planner cmd/obsidian_planner/main.go
  test:
    needs: [build]
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Checkout
        with:
          ref: ${{ github.head_ref }}

      - uses: actions/setup-go@v5.5.0
        with:
          go-version: ${{ vars.GO_VERSION }}

      - name: run tests
        shell: bash
        run: |
          go test --short -v ./... -covermode=count -coverprofile=coverage.out
          go tool cover -func=coverage.out -o=coverage.out